@using System
@model IEnumerable<ASP.NET.Sample.Web.Models.Phone>
@{
    ViewData["Title"] = "Каталог товаров";
}

@{
    string[] cities = new string[] { "Лондон", "Париж", "Берлин" };
    string[] countries = new string[] { "Великобритания", "Франция", "Германия" };
}

@functions
{
    public int GetFactorial(int n)
    {
        int result = 1;
        for (int i = 1; i <= n; i++)
            result *= i;
        return result;
    }
}
<h3>Смартфоны</h3>
<table class="table-condensed">
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (ASP.NET.Sample.Web.Models.Phone phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td>
                <a href="~/Home/Buy/@phone.Id">Купить</a>
            </td>
        </tr>
    }


</table>

<div>Факториал числа 6 равен: @GetFactorial(6)</div>

@using (Html.BeginForm("Square", "Home", FormMethod.Post))
{
    @Html.Label("height", "Высота:")
    <br/>
    @Html.TextBox("height", "", new { type = "number" })
    <br/>
    @Html.Label("altitude", "Основание:")
    <br/>
    @Html.TextBox("altitude", "", new { type = "number" })
    <br/>
    @Html.DropDownList("daytime", Html.GetEnumSelectList(typeof(TimeOfDay)))
    <br/>
    <input type="submit" value="Отправить"/>
}

@try
{
    @: Добро пожаловать ошибка
    throw new InvalidOperationException("Что-то пошло не так");
}
catch (Exception ex)
{
    <p>Возникло исключение: @ex.Message</p>
}
finally
{
    <p>Блок finally</p>
}

<h3>@TempData["Message"]</h3>

@{await Html.RenderPartialAsync("_GetMessage", new List<string> { "Lumia 950", "iPhone 6S", "Samsung Galaxy s 6", "LG G 4" });}

@await Component.InvokeAsync("BestPhone", new { maxPrice = 55000 })

<h3>Города</h3>
@Html.CreateList(cities)

<h3>Страны</h3>
@ListHelper.CreateList(Html, countries)

@section Footer {
    Все права защищены. Site Corp. 2017.
}