@using System
@model IEnumerable<ASP.NET.Sample.Web.Models.Phone>
@{
    ViewData["Title"] = "Каталог товаров";
}
@functions
{
    public int GetFactorial(int n)
    {
        int result = 1;
        for (int i = 1; i <= n; i++)
            result *= i;
        return result;
    }
}
<h3>Смартфоны</h3>
<table class="table-condensed">
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (ASP.NET.Sample.Web.Models.Phone phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td>
                <a href="~/Home/Buy/@phone.Id">Купить</a>
            </td>
        </tr>
    }


</table>

<div>Факториал числа 6 равен: @GetFactorial(6)</div>

<form method="post" action="~/Home/Square">
    <label>Высота:</label><br/>
    <input type="number" name="height"/><br/>
    <label>Основание:</label><br/>
    <input type="number" name="altitude"/><br/>
    <input type="submit" value="Отправить"/>
</form>

@try
{
    @: Добро пожаловать ошибка
    throw new InvalidOperationException("Что-то пошло не так");
}
catch (Exception ex)
{
    <p>Возникло исключение: @ex.Message</p>
}
finally
{
    <p>Блок finally</p>
}